<div class="container">
	<div class="row">
		<div class="centrado">
			<% if @user %>
				<ul>
					<li><%= @user if @user %></li>
					<li><%= @error_confirmation if  @error_confirmation %></li>
				</ul>
			<% end %>
			<h1>Ingresar</h1>
			<%= form_tag controller: :sessions, action: :create do %>
				<div class="form-group">
					<%= label_tag(:email, 'Email') %>
					<%= email_field_tag(:email, nil, class:'form-control') %>
				</div>
				<div class="form-group">
					<%= label_tag(:password, 'Contraseña') %>
					<%= password_field_tag(:password, nil, class:'form-control') %>
				</div>
				<div class="form-group">
					<%= label_tag(:confirm_password, 'Confirmar contraseña') %>
					<%= password_field_tag(:confirm_password, nil, class:'form-control') %>
				</div>
				<%= submit_tag('Ingresar', class:'btn btn-primary')%>
			<% end %>
		</div>
		
	</div>
	<div class="row flecha" >
		<span><%= link_to 'Atras', root_path,class:"fas fa-arrow-circle-left" %></span>
	</div>
</div>


